In [1]:
# SQLite example

#This example showcases hooking up an LLM to answer questions over a database.

In [7]:
from langchain import LLMMathChain, OpenAI, SerpAPIWrapper, SQLDatabase, SQLDatabaseChain
from langchain.agents import initialize_agent, Tool
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain

In [8]:
from langchain.llms import OpenAI
import os
os.environ["OPENAI_API_KEY"] = "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"
os.environ["SERPAPI_API_KEY"] = "e233e8983e61f8f9f57275d039cba83f980d919a3cd845b221c149750e1082d9"

In [9]:
# This is an LLMChain to write a synopsis given a title of a play.
llm = OpenAI(temperature=.7)
template = """Create a SQL query to insert the activities specified in the description into the activity database with columns activity_name and duration(minutes)

Description: {description}
This is the insert query:"""
prompt_template = PromptTemplate(input_variables=["description"], template=template)
synopsis_chain = LLMChain(llm=llm, prompt=prompt_template)

In [10]:
description = "1 hour of running"
output = synopsis_chain.run(description)
print(output)

INSERT INTO activity (activity_name, duration)
VALUES ('Running', 60);

In [9]:
con = sqlite3.connect("tutorial.db")

cur = con.cursor()

In [10]:
#Either pre create tables of have way for users to create tables
cur.execute("CREATE TABLE workout(name, time)")

OperationalError: table workout already exists

In [11]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('workout',)

In [12]:
# Have way for langchain to insert values into DB
cur.execute("""
    INSERT INTO workout VALUES
        ('running', 30),
        ('peloton', 45)
""")

In [13]:
res = cur.execute("SELECT * FROM workout")
res.fetchall()

[('running', 30), ('peloton', 45)]

In [15]:
db = cur
llm = OpenAI(temperature=0)
db_chain = SQLDatabaseChain2(llm=llm, database=db, verbose=True)

ValidationError: 1 validation error for SQLDatabaseChain2
database
  instance of SQLDatabase expected (type=type_error.arbitrary_type; expected_arbitrary_type=SQLDatabase)